In [2]:

import pandas as pd
import pyarrow as pa
import os
import zipfile
import matplotlib.pyplot as plt 
from collections import Counter
import numpy as np
import statsmodels.api as sm
import pylab
import scipy.stats as stats
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

pd.options.display.float_format = '{:.2f}'.format

In [6]:
#pip freeze > requirements.txt
#aaaagggg
os.getcwd()
os.chdir('c:\\Users\\amcfa\\gitfiles\\Projects\\MastersWork\\shorter_ML_Projects\\Machine-Learning-_-Prediction')

In [7]:
file = pd.read_csv(os.getcwd()+ '\Complete_SEDS.csv')
file1=file
codes = pd.read_csv(os.getcwd()+ '/residential_sector_codes.csv')
codes.head(1)

   CLHCK
0  CLRCB

In [8]:
file1['Year'] = pd.to_datetime(file1['Year'], format='%Y')
file1=file1[~(file1['StateCode']=='US')]

In [9]:
file1

        Data_Status    MSN StateCode       Year    Data
0             2021F  ABICB        AK 1960-01-01    0.00
1             2021F  ABICB        AK 1961-01-01    0.00
2             2021F  ABICB        AK 1962-01-01    0.00
3             2021F  ABICB        AK 1963-01-01    0.00
4             2021F  ABICB        AK 1964-01-01    0.00
...             ...    ...       ...        ...     ...
2007506       2021F  ZWHDP        WY 2017-01-01 7903.00
2007507       2021F  ZWHDP        WY 2018-01-01 8180.00
2007508       2021F  ZWHDP        WY 2019-01-01 8915.00
2007509       2021F  ZWHDP        WY 2020-01-01 8079.00
2007510       2021F  ZWHDP        WY 2021-01-01 7874.00

[1967191 rows x 5 columns]

In [10]:
## take each unique variable in the file
	#Iterate over it and join them in 1 big dataframe

In [11]:
pqr = codes['CLHCK'].unique() #Taking the unique list of codes
abc = len(pqr) #The length of codes
new_list_of_titles = []
dfs = []
for i in pqr:
	if i not in new_list_of_titles:
		new_list_of_titles.append(i)
print(new_list_of_titles)

['CLRCB', 'CLRCD', 'CLRCP', 'CLRCV', 'DFRCB', 'DFRCD', 'DFRCP', 'DFRCV', 'ESRCB', 'ESRCD', 'ESRCP', 'ESRCV', 'ESRPP', 'GERCB', 'HLRCB', 'HLRCD', 'HLRCP', 'HLRCV', 'KSRCB', 'KSRCD', 'KSRCP', 'KSRCV', 'LORCB', 'NGRCB', 'NGRCD', 'NGRCP', 'NGRCV', 'PARCB', 'PARCD', 'PARCK', 'PARCP', 'PARCV', 'PERCD', 'PERCV', 'PERSB', 'PQRCB', 'PQRCD', 'PQRCP', 'PQRCV', 'SFRCB', 'SOR7P', 'SORCB', 'SOTCB', 'SOTGP', 'SOTXB', 'TERCB', 'TERCD', 'TERCV', 'TERPB', 'TNRCB', 'TNRSB', 'WDRCB', 'WDRCD', 'WDRCV', 'WDRSB', 'WDRXB']

In [12]:
general_consumption= file1[file1['MSN'].str.contains('ESRCV')]

In [22]:
# Convert new_list_of_titles to a single regex pattern
pattern1 = '|'.join(new_list_of_titles)

# Use str.contains() with the regex pattern
filtered_df11 = file1[file1['MSN'].str.contains(pattern1)]

In [23]:
merged_data = pd.merge(general_consumption, filtered_df11, on=["StateCode", "Year", "Data_Status"], how="left")

In [17]:

merged_data

       Data_Status  MSN_x StateCode       Year  Data_x  MSN_y  Data_y
0            2021F  ESRCV        AK 1970-01-01   16.70  CLRCB  233.00
1            2021F  ESRCV        AK 1970-01-01   16.70  CLRCD    2.47
2            2021F  ESRCV        AK 1970-01-01   16.70  CLRCP   13.00
3            2021F  ESRCV        AK 1970-01-01   16.70  CLRCV    0.60
4            2021F  ESRCV        AK 1970-01-01   16.70  DFRCB 7932.00
...            ...    ...       ...        ...     ...    ...     ...
136216       2021F  ESRCV        WY 2021-01-01  323.70  WDRCB 3769.00
136217       2021F  ESRCV        WY 2021-01-01  323.70  WDRCD   11.37
136218       2021F  ESRCV        WY 2021-01-01  323.70  WDRCV   18.00
136219       2021F  ESRCV        WY 2021-01-01  323.70  WDRSB 1587.00
136220       2021F  ESRCV        WY 2021-01-01  323.70  WDRXB 2183.00

[136221 rows x 7 columns]

In [18]:
import pandas as pd
pivoted_data = merged_data.pivot_table(index=["StateCode", "Year", "Data_Status","MSN_x","Data_x"], columns="MSN_y", values="Data_y", aggfunc="first")
# Reset index to flatten the dataframe
pivoted_data.reset_index(inplace=True)

In [19]:
pivoted_data

MSN_y,StateCode,Year,Data_Status,MSN_x,Data_x,CLRCB,CLRCD,CLRCP,CLRCV,DFRCB,...,TERCD,TERCV,TERPB,TNRCB,TNRSB,WDRCB,WDRCD,WDRCV,WDRSB,WDRXB
0,AK,1970-01-01,2021F,ESRCV,16.70,233.00,2.47,13.00,0.60,7932.00,...,2.30,38.90,81.80,17800.00,16912.00,1290.00,0.82,0.30,403.00,887.00
1,AK,1971-01-01,2021F,ESRCV,20.10,177.00,2.40,10.00,0.40,10433.00,...,2.34,47.70,93.80,21282.00,20418.00,1256.00,0.86,0.30,392.00,864.00
2,AK,1972-01-01,2021F,ESRCV,22.00,199.00,2.28,11.00,0.50,8220.00,...,2.49,49.00,90.80,20497.00,19681.00,1187.00,0.87,0.30,370.00,816.00
3,AK,1973-01-01,2021F,ESRCV,22.30,92.00,2.44,5.00,0.20,10014.00,...,2.73,49.80,86.20,19008.00,18263.00,1084.00,1.00,0.30,338.00,745.00
4,AK,1974-01-01,2021F,ESRCV,25.30,92.00,2.54,5.00,0.20,10041.00,...,3.44,61.50,85.40,18605.00,17871.00,1066.00,1.54,0.50,333.00,734.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2647,WY,2017-01-01,2021F,ESRCV,315.30,0.00,0.00,0.00,0.00,117.00,...,18.88,531.60,88.30,30680.00,28154.00,4193.00,10.76,19.00,1765.00,2427.00
2648,WY,2018-01-01,2021F,ESRCV,310.20,0.00,0.00,0.00,0.00,114.00,...,18.48,526.60,88.90,31051.00,28500.00,4214.00,11.90,21.10,1774.00,2440.00
2649,WY,2019-01-01,2021F,ESRCV,318.40,0.00,0.00,0.00,0.00,107.00,...,17.48,528.60,93.00,32842.00,30241.00,4266.00,11.46,20.60,1796.00,2470.00
2650,WY,2020-01-01,2021F,ESRCV,319.90,0.00,0.00,0.00,0.00,72.00,...,17.76,506.20,90.60,30951.00,28498.00,3957.00,9.47,15.80,1666.00,2291.00
2651,WY,2021-01-01,2021F,ESRCV,323.70,0.00,0.00,0.00,0.00,128.00,...,19.47,555.10,90.10,30903.00,28518.00,3769.00,11.37,18.00,1587.00,2183.00

In [21]:
filtered_df11

        Data_Status    MSN StateCode       Year    Data
254432        2021F  CLRCB        AK 1960-01-01  714.00
254433        2021F  CLRCB        AK 1961-01-01  713.00
254434        2021F  CLRCB        AK 1962-01-01  854.00
254435        2021F  CLRCB        AK 1963-01-01  543.00
254436        2021F  CLRCB        AK 1964-01-01  423.00
...             ...    ...       ...        ...     ...
1879482       2021F  WDRXB        WY 2017-01-01 2427.00
1879483       2021F  WDRXB        WY 2018-01-01 2440.00
1879484       2021F  WDRXB        WY 2019-01-01 2470.00
1879485       2021F  WDRXB        WY 2020-01-01 2291.00
1879486       2021F  WDRXB        WY 2021-01-01 2183.00

[148971 rows x 5 columns]

In [ ]:
sns.pairplot()